.navbar {
    background-color: #5d1616;
}

.menu-section {
    background-color: #d6f84e;
    padding: 20px;
    min-height: 1000px; /* Adjust as needed */
}
#menuItemImg {
    max-width: 200%;
    height: auto;
    width: 200%;
}
